body,p,div{
margin:0px;}

.Background {
 background-color: rgb(20, 20, 20);
  opacity:0.65;
  z-index:236;
}
.img1{
width:100%;
height:990px;
border:1px solid gray;
background-image:url(../images/images/前端学院设计图_002.png);
}
.img1_box{
width:970px;
height:580px;
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
text-align:center;
}
.img1_box p:nth-child(1){
font-size:36px;
color:#FFFFFF;}
.img1_box p:nth-child(2){
width:780px;
margin:80px auto;
font-size:24px;
color:#FFFFFF;}
.img1_box1{
width:968px;
height:248px;
border:1px solid gray;
text-align:center;
}
.img1_box1 p:nth-child(1){
margin-top:60px;
font-size:16px;}
.img1_box1 p:nth-child(2){
margin-top:20px;
margin-bottom:45px;
font-size:12px;}
.img1_box1 input[type=button]{
width:125px;
padding:15px;
margin:0 15px;
font-size:12px;}
.img1_box1 input[type=text]{
width:250px;
padding:15px 20px;
margin:0 15px;
font-size:12px;
color: white;
border: 1px solid gray;
background: none;}

.part2{
height:700px;
width:100%;
border: 1px solid gray;}
.part2_box1{
width: 670px;
margin: 80px auto 0px;
text-align: center;}
.part2_box1 p:nth-child(1){
font-size:12px;
margin-bottom:40px;
}
.part2_box1 p:nth-child(2){
width:660px;
font-size:36px;
}
.part2_box2{
width:1220px;
height:360px;
margin:0 auto;
}
.part2_box2_1{
width:430px;
height:110px;
float:left;
margin:80px 80px 0px;}
.part2_box2_text p:nth-child(1){
margin:0px 0px 20px;
font-weight:bold;}
.part2_box2_1 div:nth-child(1){
height:100%;
float:left;
margin-right:30px;}

.part3{
width:100%;
height:800px;
border: 1px solid gray;
background-image:url(../images/images/前端学院设计图_005.png);
overflow:hidden;
background-repeat: no-repeat;}
.part3_left{
width:530px;
height:460px;
position:relative;
top:50%;
margin-top:-230px;
margin-left:175px;}
.part3_left_text{
width:370px;
height:350px;
margin-bottom:50px;}
.part3_left_text p:nth-child(1){
font-size:36px;
margin-bottom:50px;
color:#FFFFFF;}
.part3_left_text p:nth-child(2){
font-size:24px;
color:#FFFFFF;}
#part3_but1{
background-color:#FFFFFF;}
#part3_but2{
background:none;
color:#FFFFFF;}
.part3_left button{
border-width:1px;
padding:20px 30px;}
.part3_right{
float:right;
width:645px;
height:602px;
margin-top:100px;
border:1px solid gray;
border-right-width:0px;
border-radius:30px;
}
.part3_right_img{
width:585px;
height:542px;
float:right;
margin-top:30px;
background-image:url(../images/images/前端学院设计图_033.png);
border:1px solid gray;
border-right-width:0px;
}
.circle{
width:10px;
height:10px;
border:1px solid gray;
border-radius:50%;
position:relative;
left:30px;
top:290px;
}
/*part4*/
.part4{
width:100%;
height:580px;
text-align:center;
border-bottom: 1px solid gray;}
.part4 p:nth-child(1){
font-size:36px;
margin:99px auto 90px;
}
.part4_text{
width:1030px;
height:300px;
margin:0 auto;}
.part4_logo{
width:245px;
height:300px;
float:left;
margin: 0px 35px;
}
.part4_logo p{
font-size:18px;
}
.part4_logo img{
margin-bottom:40px;
}
/*part5*/
.part5{
width:100%;
height:1000px;
border-bottom: 1px solid gray;}
.part5_box{
width:1100px;
height:800px;
margin:100px auto;}
.part5_up img{
float:left;
margin-right:100px;}
.part5_text{
width:320px;
height:350px;
margin-right:70px;
margin-top:80px;
float:left;}
.part5_text p:nth-child(1){
font-weight:bold;
margin-bottom:30px;}

/*part6*/
.part6{
width:100%;
height:1100px;
border-bottom: 1px solid gray;}
.part6_text{
width:700px;
height:120px;
margin:100px auto 50px;
text-align:center;}
.part6_text p:nth-child(1){
font-size:36px;
margin-bottom:30px;}
.part6_text p:nth-child(2){
font-size:18px;
}
.part6_pic{
width:1000px;
height:740px;
margin:0px auto;
color:#FFFFFF;
position:relative;
;}
.part6_pic1{

float:left;
margin:15px;
width:470px;
height:340px;
background-color:#333;
opacity: 0;
}
.part6_pic1:hover{
opacity:0.6;
}
.pic1{
position:absolute;
left:15px;
top:15px;
z-index: -1;}
.pic2{
position:absolute;
left:515px;
top:15px;
z-index: -1;}
.pic3{
position:absolute;
left:15px;
top:385px;
z-index: -1;}
.pic4{
position:absolute;
left:515px;
top:385px;
z-index: -1;}
.part6_inbox{
width:240px;
height:175px;
position:relative;
left:50%;
top:50%;
transform:translate(-50%,-50%);
text-align:center;}
.part6_inbox p:nth-child(1){
font-size:20px;
color:#FFFFFF;
margin:20px auto;}
.part6_inbox p:nth-child(2){
font-size:12px;
margin:0px auto;
opacity:0.4;}
.part6_inbox .icon{
position:relative;
display:inline-block;
width:21px;
height:21px;
margin: 50px 20px;
background-repeat: no-repeat;
background-position: center center;
}
.part6_inbox .icon1{
background-image: url(../images/images/Facebook.png);
}
.part6_inbox .icon2{
background-image: url(../images/images/Twitter.png);
}
.part6_inbox .icon3{
background-image: url(../images/images/Instagram.png);
}
.part6_inbox a:after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 52px;
    height: 52px;
    border: 1px solid gray;
    border-radius: 50%;}

/*part7*/
.part7{
width:100%;
height:700px;
border-bottom: 1px solid gray;}
.part7_left{
width:470px;
height:560px;
margin-left:310px;
margin-top:75px;
text-align:center;
float:left;
border:1px solid gray;}
.part7_left p{
font-size:16px;
margin:50px auto;}
.part7_left input{
margin-bottom:30px;
width:370px;
padding:20px;}
.part7_left textarea{
width:370px;
height:100px;
padding:20px;
margin-bottom:30px;}
.part7_left button{
color:#FFFFFF;
background-color: #000000;
width:370px;
padding:20px;
text-align:center;
}
.part7_right{
float:left;
width:430px;
height:400px;
margin-left:130px;
margin-top:150px;}
.part7_right p:nth-child(1){
font-size:36px;
margin-bottom:40px;}
.part7_right p:nth-child(2){
font-size:18px;
margin-bottom:60px;}
.part7_right_1{
width:340px;
height:50px;
margin:20px 0px;}
.part7_right_img{
height:100%;
float:left;
margin-right:20px;}
.part7_right_1 span{
font-weight:bold;
font-size:18px;
float:left;
}
/*part8*/
.part8{
width:100%;
height:400px;
background-color:#000000;
}
.part8_box{
float:left;
width:300px;
height:250px;
margin-top:70px;
font-size:16px;
color:#5b5b5b;
}
.part8_box1{
margin-left:75px;}
.part8_box p:nth-child(1){
color:#FFFFFF;
}
.part8_box p{
margin-bottom:30px;
}
.part8_box img{
margin-right:20px;
background-color:#5b5b5b;
opacity:0.9;
}



