/* CSS Document */

.cont{
width:650px;
height:560px;
margin:0px auto;
border:1px solid gray;
text-indent:10px;
}
.resume{
float:left;
width:20%;
height:100%;
background-color: #0099FF;
color:#FFFFFF;
text-indent:0px;
text-align:center;
}
.box{
float:left;}
span,a{
padding-left:5px;
padding-right:15px;}
