/* CSS Document */
/*h3{margin:1px;}*/
.cont{
width:650px;
height:870px;
margin:0px auto;
border:1px solid gray;
text-indent:10px;
}
.box11{
position:relative;
float:left;
}
.box1{clear:both;}
p{
float:left;
}
span{
display:block;
clear:both;
padding:10px 0px;
}
